<!-- post action button-->
<% style ||= "float:right" %>
<% form_id = "watch_food_form_#{food.id}" %>

<% if current_user.watching?(food) %>
  <% badge_class = "badge badge-important" %>
<% else %>
  <% badge_class = "badge" %>
<% end %>
  
<%= render 'users/watch_form',
  form_id: form_id,
  container_id: food.id,
  food: food %> 

<a style="<%= style %>"
  form-id="<%=form_id%>"
  class="btn btn-action watch_food_submit_<%=food.id%> btn-link btn-submit">
  <i class="icon-eye-open"></i>
  <span class="<%= badge_class %>"><%= food.watcher_count %></span>
</a>
