<% style ||= "" %>
<% form_id = "watch_post_form_#{post.id}" %>

<% if post.post_food != nil %>

<div id="watch_post_popover_content_<%= post.id %>" hidden="true">
  <%= render 'shared/watch_post_popover',
    post: post,
    form_id: form_id %>
</div>

<a style="<%= style %>"
  form-id="<%= form_id %>"
  class="btn btn-action btn-link btn-watch-post popovers watch_post_btn_<%=post.id%>">  
  <i class="icon-eye-open"></i>
</a>

<% end %>
