<% tag_id = food.id %>
<% tag_class = "label food-tag popovers"%>
<% user = current_user || User.new %>
<% if user.watching?(food) %>
  <% tag_class += " label-important " %>
<%end%>
<a tag-id="<%= tag_id %>"
  class="<%= tag_class %> a_<%= tag_id %>">
  <%= food.name %>
</a>

<div id="popover_head_<%= tag_id %>" hidden='true'>
  <%= render 'foods/popover_head', food: food, id: tag_id %>
</div>

<div id="popover_content_<%= tag_id %>" hidden='true'>
  <%= render 'foods/food_detail', food: food %>
</div>
