<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.followed_users.count %>
    </strong>
    关注
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    粉丝
  </a>
  <% page ||= "" %>
  <% link = calorie_user_path(@user) if page != "calorie" %>
  <a href="<%= link || "#" %>" title="查看我的统计">
    <strong id="calorie" class="stat">
      <%= @user.calorie_today %>
    </strong>
    今天吃了（kCal）
  </a>
</div>
