<h1>
  <%= gravatar_for user %>
  <%= user.name %>
</h1>
<span>
  <% if complex %><%= link_to "我的主页", user %><% end %>
  <%= link_to "我的食物", watches_user_path(user) %>
</span>    
<span><%= user.microposts.count.to_s + " 条微博" %></span>
