<div id="comment_collapse_<%= micropost.id %>"
     class="collapse comment-collapse">  

  <div class="row-fluid">
    <div class="comment-area" style="margin-top:5px;">
      <%= form_for(current_user.microposts.build, remote: true,
             html: {id: "new_comment_#{micropost.id}"}) do |f| %>
      <input type="hidden"  
             name="micropost[comment_id]"
             value="<%= micropost.id %>">
      <input type="hidden" name="create_type" value="comment">
      <input type="hidden" name="parent_id" value="<%= micropost.id %>">
      <input type="hidden" value="_comment_<%= micropost.id %>">
      <%= f.text_area :content,
                      placeholder: "Add your comment...",
                      class:       "letter_count",
                      style:       "margin-bottom:0px",
                      "data-container" => "body",
                      "attached-btn" => "#comment_btn_#{micropost.id}"%>
      <a form-id="new_comment_<%= micropost.id %>" 
        id="comment_btn_<%= micropost.id %>"
        class="btn btn-inverse btn-submit"
        style="margin-right:15px;margin-top:10px; float:right">
        <i class="icon icon-comment icon-white"></i>
        评论
      </a>
      <p class="surplus_count_comment" style="margin-left:20px;
                                              margin-top:15px;" 
         id="surplus_count_comment_<%= micropost.id %>"></p>
      <% end %>
    </div>

    <% comments = micropost.comments.first(10) %>
    <div id="comment_list_<%= micropost.id %>" style="margin-top:50px;">
    <% if comments.any? %>
      <%= render comments, page: "comment" %>
    <% end %>
    </div>

  </div>
</div>
