<div id="comment_collapse_<%= micropost.id %>"
     class="collapse comment-collapse">

  <% remote = true %>
  <% if page == "detail" %>
    <% remote = false %>
  <% end %>

  <div class="row-fluid">
    <div class="comment-area" style="margin-top:5px;">
      <%= form_for(current_user.microposts.build, remote: remote,
             html: {id: "new_comment_#{micropost.id}"}) do |f| %>
      <input type="hidden"
             name="micropost[comment_id]"
             value="<%= micropost.id %>">
      <input type="hidden" name="create_type" value="comment">
      <input type="hidden" name="parent_id" value="<%= micropost.id %>">
      <input type="hidden" value="_comment_<%= micropost.id %>">
      <div class="input-append"
        style="margin-top:10px; float:left; width:93.5%">
        <%= f.text_field :content,
                        placeholder: "我要吐槽...",
                        id:          "comment_textarea_#{micropost.id}",
                        class:       "letter_count",
                        "data-container" => "body",
                        "attached-btn" => "#comment_btn_#{micropost.id}"%>
        <a form-id="new_comment_<%= micropost.id %>"
          textarea-id="comment_textarea_<%=micropost.id%>"
          id="comment_btn_<%= micropost.id %>"
          class="btn btn-inverse btn-submit">
          <i class="icon icon-share-alt icon-white"></i>
        </a>
      </div>
    <% end %>
    </div>

    <% if page != "detail" %>
    <% comments = micropost.comments.first(9) %>
    <div id="comment_list_<%= micropost.id %>" style="margin-top:12%;">
    <% if comments.any? %>
      <%= render comments, page: "comment" %>
    <% end %>
    <% if micropost.comments.count > 9 %>
      <div class="line-above" style="float:right;margin-right:10px">
        <%= link_to "查看全部评论", comments_micropost_path(micropost) %>
      </div>
    <% end %>
    </div>
    <% end %>
  </div>
</div>
