<div id="comment_collapse_<%= micropost.id %>"
     class="collapse row-fluid">  
  
<%= form_for(current_user.microposts.build,
             html: {id: "new_comment_#{micropost.id}"}) do |f| %>
  
  <div class="comment-area line-above" style="margin-top:5px;">
        <input type="hidden" 
               name="micropost[comment_id]"
               value="<%= micropost.id %>">
        <input type="hidden" value="_comment_<%= micropost.id %>">
        <%= f.text_area :content,
                        placeholder: "Add your comment...",
                        class:       "letter_count",
                        style:       "margin-bottom:0px",
                        "data-container" => "body",
                        "attached-btn" => "#comment_btn_#{micropost.id}"
          %>
          <button form-id="new_comment_<%= micropost.id %>" 
            id="comment_btn_<%= micropost.id %>"
            class="btn btn-primary btn-submit"
            style="margin-right:15px;margin-top:10px; float:right">
            <i class="icon icon-comment icon-white"></i>
            COMMENT
          </button>
          <p class="surplus_count_comment" style="margin-left:20px;
                                                  margin-top:15px;" 
             id="surplus_count_comment_<%= micropost.id %>"></p>
  </div>
<% end %>

<% comments = micropost.comments %>
<% if comments.any? %>
  <div style="margin-right:10px; margin-top:40px;">
    <%= render comments, page: "comment" %>
  </div>
<% end %>
</div>
