<% head_post = micropost %>
<% body_post = micropost %>
<% foot_post = micropost %>
<div id="<%= micropost.id %>" style="margin-top:10px;"
  class="img-polaroid img-rounded">
  <% if micropost.original_id? %>
    <% head_post = micropost.original_post %>
    <% body_post = micropost.original_post %>
    <% foot_post = micropost.original_post %>
    <% line = "line-above" %>
    <% div_class = "div-hover div-click" if micropost.content != "#" %>
    <div class="<%=div_class%>">
      <span class="user">由 <%= user_link(micropost.user) %> 分享</span>
    </div>
    <% if micropost.content != "#" %>
    <div class="collapse">
      <div class="line-above row-fluid">
      <%= render 'microposts/post_head', post: micropost, page: page if
        page == "feed" or page == "comment" or page == "show" or page == "detail" %>
      <%= render 'microposts/post_body', post: micropost, page: page %>
    </div></div>
    <% end %>
  <% end %>
  <div class="row-fluid <%= line %>">
    <%= render 'microposts/post_head', post: head_post, page: page if
      page == "feed" or page == "comment" or page == "show"  or page == "detail" %>
    <%= render 'microposts/post_body', post: body_post, page: page %>
    <%= render 'microposts/post_foot', post: foot_post, page: page if
      page == "show" or page == "feed" or page == "comment" or page == "detail"%>
  </div>
<% option = ["feed", "show", "detail"] %>
<% if signed_in? && option.include?(page) %>
  <% micropost = micropost.original_post if micropost.original_id? %>
  <%= render 'microposts/comment_collapse',
    micropost: micropost, page: page %>
<% end %>
</div>
