<div id="share_modal_<%= micropost.id %>"
     class="modal hide fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="share"
     aria-hidden="true">

  <div class="modal-header">
    <button type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true">×</button>
    <h3 id="modal">分享</h3>
  </div>

  <div class="modal-body">
    <div class="original-post row-fluid">
      <div class="span2">
        <%= gravatar_for(micropost.user, size:"100x100") %>
      </div>
      <div class="span10">
        <%= link_to  "@" + micropost.user.name, micropost.user %>
        <%= render 'shared/post_content', micropost: micropost, page: "share" %>
      </div>
    </div>
    <div class="comment-area"
      id="comment_area_<%=micropost.id%>"
      style="margin-top:10px;">
      <%= form_for(current_user.microposts.build, remote: true,
           html: {id: "new_share_#{micropost.id}"}) do |f| %>

      <%= render 'shared/error_messages', object: f.object %>
      <input type="hidden"
             name="micropost[original_id]"
             value="<%= original_id_of(micropost.id) %>">
      <input type="hidden"
             name="micropost[shared_id]"
             value="<%= micropost.id %>">
      <input type="hidden" name="create_type" value="share">
      <input type="hidden" value="_share_<%= micropost.id %>">
      <div class="input-append"
        style="margin-top:10px; float:left; width:93.5%">
        <%= f.text_field :content, placeholder: "我要吐槽...",
          id: "share_textarea_#{micropost.id}",
          class: "letter_count", style: "margin-bottom:0px",
          "attached-btn" => "#share_btn_#{micropost.id}"%>
        <% end %>
        <a data-target="#share_modal_<%= micropost.id %>"
          data-toggle="modal" form-id="new_share_<%= micropost.id %>"
          textarea-id="share_textarea_<%=micropost.id%>"
          id="share_btn_<%= micropost.id %>"
          class="btn btn-inverse btn-submit">
          <i class="icon icon-share-alt icon-white"></i>
        </a>
      </div>
    </div>
  </div>
</div>
